@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

#Band {
  padding: 30px;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #132d46, #25282c);
  margin: 0 auto;
}
#Band .Bandtext {
  margin-top: 5%;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  max-width: 40rem;
  font-family: "Shadows Into Light Two", cursive;
  letter-spacing: 3px;
  position: relative;
  left: 50%;
  padding: 10px;
  transform: translate(-50%);
  min-width: 40%;
  color: white;
}
#Band .text {
  text-align: justify;
  background: linear-gradient(10deg, #7efbfd, #fed7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Koulen", cursive;
  font-size: 4rem;
}
.imgs {
  gap: 2em;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  max-width: 250px;
  height: 450px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  border: none;

  transition: max-width 0.5s ease-in-out;
}

.img img {
  padding-top: 10px;
  height: 300px;
}

.row {
  display: flex;
}

.img:hover {
  max-width: 500px;
  height: 500px;
}

.img:first-child {
  background: white;
  opacity: 0.8;
}
.img:first-child:hover {
  background: white;
  opacity: 5;
}
.img:last-child {
  background: white;
  opacity: 0.8;
}
.img:last-child:hover {
  background: white;
  opacity: 5;
}
.img:nth-child(2) {
  background: white;
  opacity: 0.8;
}
.img:nth-child(2):hover {
  background: white;
  opacity: 5;
}
.img:nth-child(3) {
  background: white;
  opacity: 0.8;
}
.img:nth-child(3):hover {
  background: white;
  opacity: 5;
}
.img:nth-child(4) {
  background: white;
  opacity: 0.8;
}
.img:nth-child(4):hover {
  background: white;
  opacity: 5;
}
.img:nth-child(5) {
  background: white;
  opacity: 0.8;
}
.img:nth-child(5):hover {
  background: white;
  opacity: 5;
}
@media (max-width: 768px) {
  #Band .Bandtext {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #Band .Bandtext {
    width: 100%;
  }
}
